*, *::after, *::before {
	box-sizing: border-box;
  }
  
  .container {
	width: 960px;
	min-height: 500px;
	margin : 30px auto 0 auto;
	background-color: black;
	color:white;
}

.logo {
	width: 80%;
	height: 100px;	
	margin : 30px auto 0;
	padding-top:10px;
}

/**/
ul{
	float:right;
	margin:0;
}

li{
	display: inline;
	padding: 0 20px 0;
}
/**/

.ck {
	float: left;
	width: 50%;
	height: 100px;
}

.a {
	font-size: 10px;
	color: white;
	}
	
.flagsss {
	width: 80%;
	height: 400px;
	clear: both;
	margin : 30px auto 0 auto;
	color: black;
	}
	
.flag1 {
	float:left;
	background-color: green;
	width: 33.33%;
	height: 200px;
	}
	
.flag2 {
	float:left;
	background-color: white;
	width: 33.33%;
	height: 200px;
	}
	
.flag3 {
	float:left;
	background-color: orange;
	width: 33.33%;
	height: 200px;
	}
	
p {
	text-align: center;
	padding-top: 5px;
	}